div#new_transaction {
    width: 50%;
    position: absolute;
    margin-right: 0px;
}

div#balance {
    border-color: cornflowerblue;
    border-style: solid;
    position: absolute;
    float: left;
    padding: 0.5%;
    left:50%;
}

div#balance table tbody tr td {
    width:90px;
}

div#balance table tbody tr th {
   color:darkblue;
}

div#balance table tbody tr .col2 {
    text-align:right;
    color:green
}

div#balance table tbody tr:nth-child(even) {
    background:bisque
}

div#balance table tbody tr .col2h {
   text-align:right;
}


div#recent_transactions table tbody th {
    color:darkblue
}

div#recent_transactions table tbody tr:nth-child(even) {
    background:bisque;
}

div#recent_transactions table tbody tr:nth-child(odd) {
   /*background:#B8CCE4*/
}

div#recent_transactions {
    border-color: cornflowerblue;
    border-style: solid;
    position: absolute;
    float: left;
    padding: 0.5%;
    top: 200px;
    left: 50%;
    width: fit-content;
}
